%html
%head
  %title= 'Scat'
  %link{ :rel  => 'stylesheet', :type => 'text/css', :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'}
  %link{ :rel  => 'stylesheet', :type => 'text/css', :href => '/stylesheets/scat.css'}
  %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'}
  %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'}
  :javascript
    $(document).ready(function() {
    $("input#diagnosis").autocomplete({ minLength: 5, delay: 500, source: '/autocomplete/clinical_diagnosis' });
    $("input#tissue_site").autocomplete({ minLength: 5, delay: 500, source: '/autocomplete/tissue_site' });
      });
  %body
    #header
      %h1.scat= 'Scat'
    #content= yield
