body {
  background: #FAFFF6
}

h1.application {
  font-family: "Handwriting - Dakota", Pristina, "Rage Italic", "Comic Sans MS", Georgia, serif;
  font-weight: bold;
  color: DarkBlue;
}

a.help {
  display: block;
  float: left;
  left: -20px;
  top: 4px;
  text-decoration: none;
  position: relative;
}

a.help img {
  width: 15px;
  height: 15px;
}

a.help span {
  display: none;
}

a.help:hover span {
  display: block;
  position: absolute;
  width: 180px;
  padding: 5px 5px;
  margin: 0 0 1px;
  border: 1px solid black;
  z-index: 100;
  background-color: #eeeeee;
  font: 10px sans-serif;
}

label {
  left: -15px;
  position: relative;
}

.ui-menu .ui-menu-item a {
  font-size: smaller;
  line-height: 1;
}

input[type='checkbox'] {
  position: relative;
  left: -1em;
  margin-bottom: 20px;
}

#malignant label {
  float: left;
}

#quantity input {
  max-width: 8em;
}

